head
  title= title
  meta( charset='utf-8' )
  meta( name='author', content='Harry Mumford-Turner' )
  meta( name='viewport', content='width=device-width, initial-scale=1' )
  meta( http-equiv='X-UA-Compatible', content='IE=Edge' )
  link( rel='stylesheet', href='/css/main.css' )
