
body {
  background-color: #333;
  color: #fefefe;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.btn {
  border: 1px solid #666;
  border-radius: 1px;
  padding: 15px;
  font-size: 2em;
  text-align: center;
  font-family: sans-serif;
}

.btn:hover {
  cursor: pointer;
}

img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.container {
  display: none;
}

$size: 50px;
$speed: 0.9s;
$bar-width: ceil($size / 5);
$gutter-width: floor(($size - $bar-width * 3) / 2);
$bar-color: #fff;

.icon-bars {
  margin: 20px auto;
  position: relative;
  width: $size;
  height: $size;

  .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: $bar-width;
    background-color: $bar-color;
    animation: up-down $speed infinite;

    &:nth-child(2) {
      left: $bar-width + $gutter-width;;
      animation-delay: -$speed / 3 * 2;;
    }

    &:nth-child(3) {
      left: $bar-width * 2 + $gutter-width  * 2;
      animation-delay: -$speed / 3;
    }
  }
}

@keyframes up-down {
  from {
    top: $size;
  }
  50% {
    top: 0;
  }
  to {
    top: $size;
  }
}