doctype html
html( lang='en-gb' )
  include includes/head-reward.pug
  body
    input( type='checkbox', id='reward-btn' )
    label.btn( for='reward-btn' ) Reveal reward
    .container
      block content
    script( src='/js/reward.js' )
